.box {
  padding: 50px 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  padding: 10px;

  font-size: 24px;

  color: #333;
  background: radial-gradient(#ffeeaa, #ffaa88);

  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25) inset, 0 2px 10px rgba(0, 0, 0, 0.25);

  -moz-appearance: none;
  -webkit-appearance: none;
  outline: none;
}

.count {
  color: #FFFFFF;
  font-family: cursive;
  font-size: 26px;
}

.button {
  text-decoration: none;
  display: inline-block;
  margin: 0 20px;
  color: white;
  box-shadow: 0 0 0 2px white;
  padding: 10px 0;
  max-width: 70px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  position: relative;
  overflow: hidden;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.button span {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  z-index: 5;
}

.button:before, .button:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.button:before {
  transform: translateX(-100%);
  background: white;
  transition: transform .3s cubic-bezier(.55, .055, .675, .19);
}

.button:after {
  background: #413ad5;
  transform: translateX(100%);
  transition: transform .3s cubic-bezier(.16, .73, .58, .62) .3s;
}

.button:hover:before, .button:hover:after {
  transform: translateX(0);
}

.error {
  border-color: #EB4C42;
}

.container {
  position: relative;
}

.errorText {
  position: absolute;
  top: 65px;
  left: 0;

  width: 100%;

  font-size: 20px;

  color: red;
  text-align: center;

  animation-name: bounceIn;
  animation-fill-mode: both;
  animation-duration: 0.75s;
}

@keyframes bounceIn {
  100%, 20%, 40%, 60%, 80%, 0% {
    animation-timing-function: cubic-bezier(0.215, .61, .355, 1);
  }

  0% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(.97, .97, .97);
  }

  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

